<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/userinfo', post: @new_post, user: current_user %>
      </div>
      <div class="col-md-8 offset-md-1 mt-4">
        <%= link_to @post.user.name, user_path(@post.user) %><br>
        <%= @post.body %><br>
        <%= attachment_image_tag @post, :image, :fill, 200, 150, format: 'jpeg' %><br>
        <% if @user == current_user %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-primary mt-3" %>
        <% end %>
        <% if @user == current_user %>
          <%= link_to "Delete", post_path(@post), method: :delete,'data-confirm' => "Are you sure?", class: "btn btn-sm btn-danger mt-3" %>
        <% end %>
        <div class="comment">
          <ul class="d-flex">
            <li class="ml-2">
              <% if @post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                 <span class="text-danger"><i class="fas fa-heart"></i> <%= @post.favorites.count %></span>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(@post), method: :post do %>
                 <span class="text-primary"><i class="fas fa-heart"></i> <%= @post.favorites.count %></span>
              <% end %>
            <% end %>
            </li>
            <li class="ml-2">
              <i class="fas fa-comment-dots"></i><%= @post.post_comments.count %>
            </li>
          </ul>
          <% @post.post_comments.each do |post_comment| %>
            <%= attachment_image_tag post_comment.user, :profile_image, :fill, 50,50, format: 'jpeg', fallback: "no_image.jpg", size: '50x50'%><br>
            <%= post_comment.user.name %>
            <%= post_comment.comment %> <%= post_comment.created_at.strftime('%Y/%m/%d') %> 
            <% if post_comment.user == current_user %>
              <%= link_to "Destroy", post_post_comment_path(post_comment.post, post_comment), method: :delete, 'data-confirm' => "Are you sure?", class: "btn btn-sm btn-danger" %><br>
            <% end %>
          <% end %>
        </div>
        <div class="mew_comment-form">
          <%= form_with( model:[@post, @post_comment], local:true) do |f| %>
            <%= f.text_area :comment,placeholder: 'Enter here' %>
            <%= f.submit "Submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>