<main>
  <h2>Word list</h2>
  <div class="form">
    <%= form_with model: word, local:true do |f| %>
      <h4>new word</h4>
      <div class="form-group">
        <h5>English</h5>
        <%= f.text_field :english, class: "form-control" %>
      </div>
      <div class="form-group">
        <h5>Japanese</h5>
        <%= f.text_field :japanese, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit 'Create',class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="word-list">
    <table class="table">
      <% @words.each do |word| %>
      <tr>
        <th>English</th>
        <th>Japanese</th>
      </tr>
      <tr>
        <td><%= word.english %></td>
        <td><%= word.japanese %></td>
      </tr>
      <% end %>
    </table>
  </div>
</main>